.admin-card {
	padding: 15px;
	background: #fff;
	box-shadow: 10px 20px 20px #ccc;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.admin-card img {
	display: block;
	margin: 0 auto 15px;
}
.admin-card h2,
.admin-card p {
	text-align: center;
}
.admin-card h2 a {
	color: #333;
}
.admin-card h2 a:hover {
	text-decoration: none;
	color: #2c3e50;
}
.admin-card h2 a i {
	margin-right: 15px;
}
.admin-card p {
	margin: 10px 0 0;
	font-size: 16px;
	padding: 5px 15px;
	border-radius: 3px;
	color: #fff;
}
.admin-card p.you {
	background: #2ecc71;
}
.admin-card p.admin {
	background: #2c3e50;
}