.view-order h2 {
	margin-bottom: 15px;
}
.view-order ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	max-width: 320px;
}
.view-order ul li {
	height: 44px;
	display: block;
	line-height: 44px;
	border-bottom: 1px solid #ccc;
	padding: 0 15px;
}
.view-order ul li:last-child {
	border-bottom: none;
}
.items {
	margin-bottom: 15px;
}